.nav-wrapper a.brand-logo i.fa {
    padding-top: .7rem;
}

#mapa {
    width: 100%;
    height: 25rem;
    margin-bottom: 1rem;
}

.lugar {
    cursor: pointer;
}

.lugar:hover{
    color: #ff001d;
}